<!DOCTYPE html>
<html>

<head>
  <title>Feyisayo Enuiyin</title>
  <!-----what is this is this the title of the website or page-->
  <link rel="stylesheet" href="/assets/style.css" </head>

<body>

  <header>

    <h1>Feyisayo Enuiyin</h1>
    <nav>
      <a class="navlink" href="/Music">Music</a>
      <a class="navlink" href="/photography">Photography</a>
      <a class="navlink" href="/work"> Work</a>
      <a class="navlink" href="/contact"> Contact</a>



    </nav>
  </header>

  <div class="wrapper">
    <div class="content">
      {{ content }}
    </div>
  </div>
</body>

</html>