<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/landingpage.css" />
    <title>Feyisayo Enuiyin</title>
    <!-----what is this is this the title of the website or page-->
  </head>

  <body>
    <div class="overallwrapper">
      <nav class="navigation">
        <a class="navlink" href="/about">about</a>
        <a class="navlink" href="/work">work</a>
        <a class="navlink" href="/music"> music</a>
        <a class="navlink" href="/contact"> contact</a>
      </nav>

      <section class="centredcontent">{{ content }}</section>
    </div>
  </body>
</html>
