<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/landingpage.css" />
    <title>Feyisayo Enuiyin</title>
    <!-----what is this is this the title of the website or page-->
  </head>

  <body>
    <div class="overallwrapper">
      <nav class="navigation">
        <a
          class="navlink {{ 'navlink--active' if 'home' in page.url }}"
          href="#"
          >home</a
        >
        <a
          class="navlink {{ 'navlink--active' if 'about' in page.url }}"
          href="#about"
          >about</a
        >
        <a
          class="navlink {{ 'navlink--active' if 'work' in page.url }}"
          href="#work"
        >
          work</a
        >
        <a
          class="navlink {{ 'navlink--active' if 'contact' in page.url }}"
          href="#contact"
        >
          contact</a
        >
      </nav>

      <section class="" style="margin-top: 1em;">{{ content | safe }}</section>
    </div>
  </body>
</html>
