@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;800&display=swap");
body {
  margin: 0;
  height: 100%;
  font-family: Bitter;
}
html {
  background-color: #83c5be;
  min-height: 100vh;
  width: 100vw;
}
.navigation {
  display: flex;
  display: flex;
  align-content: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.navlink {
  margin-right: 28px;
  font-family: bitter;
  font-weight: 800;
  font-size: 40px;
  text-decoration: none;
  color: black;
}
.navlink--active {
  text-decoration: underline;
}

.navigation a:last-child {
  margin-right: 0;
}
h1 {
  font-size: 90px;

  position: relative;
  bottom: 18px;
  color: black;
  margin: 0;
  text-transform: uppercase;
}
/* h2 {
  font-size: 40;
  font-weight: 400;
  margin-bottom: 28;
  height: 40px; 
} */
.button1 {
  /* align-items: flex-start; */
  /* background-clip: border-box; */
  background-color: #f7fff7;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-color: rgb(25, 25, 25);
  border-bottom-left-radius: 2000px;
  border-bottom-right-radius: 2000px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(25, 25, 25);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(25, 25, 25);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(25, 25, 25);
  border-top-left-radius: 2000px;
  border-top-right-radius: 2000px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: black;
  cursor: default;
  display: inline-block;
  fill: rgb(255, 255, 255);
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 25px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 700;
  height: 55px;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  text-align: center;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-style: solid;
  text-indent: 0px;
  width: 213px;
  word-spacing: 0px;
  /* position: relative;
  height: 100%; */
}
.button1 {
  transition-duration: 0.1s;
  position: relative;
  bottom: 35px;
}
.button1:hover {
  background-color: white;
  color: black;
}
.centredcontent {
  text-align: center;
}
.landingimage {
  width: 63.333vh;
  height: 95vh;
}
/* @media (max-device-width: 480px) {
  .landingimage {
    width: 100%;
    max-height: unset;
  }
} */

@media (orientation: portrait) {
  .landingimage {
    /* width: 63.333vh;
    height: 95vh; */
    width: 100%;
    height: auto;
  }
  .navigation a {
    font-size: 28px;
  }
}
@media (orientation: landscape) {
  /* .landingimage {
    width: 33.3333333333vh;
    height: 50vh;
  } */
}
