@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


body {
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif;
    color: black;
    display: block;
    margin: 0px
}

.wrapper{
    background-image: linear-gradient(
        45deg,
        hsl(240deg 100% 20%) 0%,
        hsl(311deg 100% 25%) 10%,
        hsl(334deg 100% 40%) 24%,
        hsl(6deg 98% 61%) 47%,
        hsl(37deg 100% 50%) 81%,
        hsl(55deg 100% 50%) 91%,
        hsl(64deg 88% 51%) 95%,
        hsl(76deg 92% 57%) 98%,
        hsl(92deg 95% 63%) 99%,
        hsl(116deg 98% 69%) 100%,
        hsl(149deg 100% 50%) 100%
      );
      min-height: 100vh;

}
.content{
    max-width: 65vw;
    margin: 0 auto;
}

    
nav{
   
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
    flex-direction: row;
}
.navlink{ color: black;
    margin-left: 52px;

}
h1 {
    text-align: center;
    font-weight: 100;
    font-size: 106px;
    letter-spacing: normal;
    text-transform: uppercase;
   
}
.bodytext{
    font-size: 30px;
    font-weight: normal;
    text-align: start;
    font-family:Roboto;
}

h4{
    font-size: 14px;
    font-family: Roboto;
}
